
{% extends 'AndaimeFrontendBundle::layout.html.twig' %}

{% block title %}sobre nós{% endblock %}
{% block global %}indent{% endblock %}
{% block sobre %}active{% endblock %}
{% block body %}
 <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            
<h2>sobre nós<em></em></h2>
        <article class="col-lg-6 col-md-6 col-sm-6">
            
            <div class="thumb-pad9">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <figure><img src="/img/page2_pic1.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-lg-6 col-md-6 col-sm-6">
            <div class="thumb-pad9">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h5>Há mais de 20 anos no ramo de locação de Andaimes Tubulares! 
Nossa Visão é atender e satisfazer as necessidades de nossos clientes, locando máquinas e equipamentos de qualidade, na intenção de reduzir custos e aumentar sua produtividade.
Buscando ampliar nossos negócios e atender a necessidade do mercado incluímos recentemente em nossos serviços a locação de máquinas de pequeno porte para manutenção residencial, manutenção industrial e construção civil.
Para isso adquirimos uma variedade de equipamentos de qualidade com marcas consagradas no Mercado e estamos preparados para esclarecer dúvidas e sugerir os mais adequados equipamentos para execução do seu serviço.
Estamos localizados em estabelecimento próprio na região central da cidade de Niterói e atendemos também o Grande Rio.

Contamos com uma frota própria de veículos sempre pronta a atender nossos clientes, a qual é equipada com celulares, motoristas técnicos e ajudantes que são treinados para entregar nossos produtos com pontualidade e agilidade.

 Esperamos por você!</h5>

                    
                    </div>
                </div>
            </div>
        </article>
    </div>
    </div>
</div>
{% endblock %}