{% extends 'AndaimeFrontendBundle::layout.html.twig' %}
{% block inicio %}active{% endblock %}
{% block body %}
<script>
    $(document).ready(function(){
        jQuery('.camera_wrap').camera();
    });
</script>
<section class="slider">
        <div class="container">
            <div class="row">
                <article class="col-lg-12 col-md-12 col-sm-12">
                    <div class="camera_wrap">
                        {% for pic in pics %}
                            <div data-src="{{ asset(pic.pic) }}">
                                <div class="camera-caption fadeIn">
                                    <div class="bannerBox">
                                        <p class="title1">{{ pic.description }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        
                       
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!--content-->
    <section class="bannerBox">
        <div class="container">
            <h2>O que oferecemos<em></em></h2>
            <div class="row">
                <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="thumb-pad1 maxheight">
                        <div class="thumbnail">
                            <p class="title">01.</p>
                            <p class="title1">Aluguel de Andaimes</p>
                            <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada.</p>
                            
                        </div>
                    </div>
                </article>
                <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="thumb-pad1 maxheight">
                        <div class="thumbnail">
                            <p class="title">02.</p>
                            <p class="title1">Ceiling Fans</p>
                            <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada.</p>
                            
                        </div>
                    </div>
                </article>
                <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="thumb-pad1 maxheight">
                        <div class="thumbnail">
                            <p class="title">03.</p>
                            <p class="title1">Air Coolers</p>
                            <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada.</p>
                            
                        </div>
                    </div>
                </article>
                <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="thumb-pad1 maxheight">
                        <div class="thumbnail">
                            <p class="title">04.</p>
                            <p class="title1">Air Filters</p>
                            <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada.</p>
                            
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    
{% endblock %}
