{% extends 'AndaimeFrontendBundle::layout.html.twig' %}
{% block inicio %}active{% endblock %}
{% block body %}
<script>
    $(document).ready(function(){
        jQuery('.camera_wrap').camera({
            time: 2000
        });
    });
</script>
<section class="slider">
        <div class="container">
            <div class="row">
                <article class="col-lg-12 col-md-12 col-sm-12">
                    <div class="camera_wrap">
                        {% for pic in pics %}
                            <div data-src="{{ asset(pic.pic) }}">
                                <div class="camera-caption fadeIn">
                                    <div class="bannerBox">
                                        <p class="title1">{{ pic.description }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        
                       
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!--content-->
    
    
{% endblock %}
