{% extends 'AndaimeFrontendBundle::layout.html.twig' %}
{% block inicio %}active{% endblock %}
{% block body %}
<script>
    $(document).ready(function(){
        jQuery('.camera_wrap').camera();
    });
</script>
<section class="slider">
        <div class="container">
            <div class="row">
                <article class="col-lg-12 col-md-12 col-sm-12">
                    <div class="camera_wrap">
                        {% for pic in pics %}
                            <div data-src="{{ asset(pic.pic) }}">
                                <div class="camera-caption fadeIn">
                                    <div class="bannerBox">
                                        <p class="title1">{{ pic.description }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        
                       
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!--content-->
    <section class="bannerBox">
        <div class="container">
            <h2>O que oferecemos<em></em></h2>
            <div class="row">
                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="thumb-pad1 maxheight">
                        <div class="thumbnail">
                            <p class="title1">Equipamentos</p>
                            <p><img src="/img/equipamentos.png" style="width: 500px;" /></p>
                            
                        </div>
                    </div>
                </article>
                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="thumb-pad1 maxheight">
                        <div class="thumbnail">
                            <p class="title1">Máquinas</p>
                            <p><img src="/img/maquinas.png" style="width: 500px;" /></p>
                            
                        </div>
                    </div>
                </article>
              
            </div>
        </div>
    </section>
    
{% endblock %}
