{% extends 'AndaimeFrontendBundle::layout.html.twig' %}
{% block inicio %}active{% endblock %}
{% block body %}
<script>
    $(document).ready(function(){
        jQuery('.camera_wrap').camera();
    });
</script>
<section class="slider">
        <div class="container">
            <div class="row">
                <article class="col-lg-12 col-md-12 col-sm-12">
                    <div class="camera_wrap">
                        <div data-src="/img/pics/01.jpg"><div class="camera-caption fadeIn"><div class="bannerBox"><p class="title1">Oferecemos todos os tipos de andaimes</p><p class="more"><a href="#">more info</a><img src="/img/chat_arrow.png" alt=""></p></div></div></div>
                        <div data-src="/img/pics/02.jpg"><div class="camera-caption fadeIn"><div class="bannerBox"><p class="title1"></p><p class="more"><a href="#">more info</a><img src="/img/chat_arrow.png" alt=""></p></div></div></div>
                        <div data-src="/img/pics/03.jpg"><div class="camera-caption fadeIn"><div class="bannerBox"><p class="title1"></p><p class="more"><a href="#">more info</a><img src="/img/chat_arrow.png" alt=""></p></div></div></div>
                        <div data-src="/img/pics/04.jpg"><div class="camera-caption fadeIn"><div class="bannerBox"><p class="title1">Quality Heating and Air Conditioning <br>Solutions</p><p class="more"><a href="#">more info</a><img src="/img/chat_arrow.png" alt=""></p></div></div></div>
                        <div data-src="/img/pics/05.jpg"><div class="camera-caption fadeIn"><div class="bannerBox"><p class="title1">Quality Heating and Air Conditioning <br>Solutions</p><p class="more"><a href="#">more info</a><img src="/img/chat_arrow.png" alt=""></p></div></div></div>
                        <div data-src="/img/pics/06.jpg"><div class="camera-caption fadeIn"><div class="bannerBox"><p class="title1">Quality Heating and Air Conditioning <br>Solutions</p><p class="more"><a href="#">more info</a><img src="/img/chat_arrow.png" alt=""></p></div></div></div>
                        <div data-src="/img/pics/07.jpg"><div class="camera-caption fadeIn"><div class="bannerBox"><p class="title1">Quality Heating and Air Conditioning <br>Solutions</p><p class="more"><a href="#">more info</a><img src="/img/chat_arrow.png" alt=""></p></div></div></div>
                        <div data-src="/img/pics/08.jpg"><div class="camera-caption fadeIn"><div class="bannerBox"><p class="title1">Quality Heating and Air Conditioning <br>Solutions</p><p class="more"><a href="#">more info</a><img src="/img/chat_arrow.png" alt=""></p></div></div></div>
                        <div data-src="/img/pics/09.jpg"><div class="camera-caption fadeIn"><div class="bannerBox"><p class="title1">Quality Heating and Air Conditioning <br>Solutions</p><p class="more"><a href="#">more info</a><img src="/img/chat_arrow.png" alt=""></p></div></div></div>
                        <div data-src="/img/pics/10.jpg"><div class="camera-caption fadeIn"><div class="bannerBox"><p class="title1">Quality Heating and Air Conditioning <br>Solutions</p><p class="more"><a href="#">more info</a><img src="/img/chat_arrow.png" alt=""></p></div></div></div>
                        <div data-src="/img/pics/11.jpg"><div class="camera-caption fadeIn"><div class="bannerBox"><p class="title1">Quality Heating and Air Conditioning <br>Solutions</p><p class="more"><a href="#">more info</a><img src="/img/chat_arrow.png" alt=""></p></div></div></div>
                        <div data-src="/img/pics/12.jpg"><div class="camera-caption fadeIn"><div class="bannerBox"><p class="title1">Quality Heating and Air Conditioning <br>Solutions</p><p class="more"><a href="#">more info</a><img src="/img/chat_arrow.png" alt=""></p></div></div></div>
                       
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!--content-->
    <section class="bannerBox">
        <div class="container">
            <h2>what We Offer<em></em></h2>
            <div class="row">
                <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="thumb-pad1 maxheight">
                        <div class="thumbnail">
                            <p class="title">01.</p>
                            <p class="title1">Air Conditioners</p>
                            <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada.</p>
                            <a href="#" class="btn-default btn1">more info</a>
                        </div>
                    </div>
                </article>
                <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="thumb-pad1 maxheight">
                        <div class="thumbnail">
                            <p class="title">02.</p>
                            <p class="title1">Ceiling Fans</p>
                            <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada.</p>
                            <a href="#" class="btn-default btn1">more info</a>
                        </div>
                    </div>
                </article>
                <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="thumb-pad1 maxheight">
                        <div class="thumbnail">
                            <p class="title">03.</p>
                            <p class="title1">Air Coolers</p>
                            <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada.</p>
                            <a href="#" class="btn-default btn1">more info</a>
                        </div>
                    </div>
                </article>
                <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="thumb-pad1 maxheight">
                        <div class="thumbnail">
                            <p class="title">04.</p>
                            <p class="title1">Air Filters</p>
                            <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada.</p>
                            <a href="#" class="btn-default btn1">more info</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <article class="col-lg-6 col-md-6 col-sm-6">
                    <h3>Matching any of your air <br>conditioning needs!</h3>
                    <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. </p>
                    <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere. cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. </p>
                    <ul class="list1">
                        <li><a href="#">Praesent vestibulum</a></li>
                        <li><a href="#">Molestie lacus</a></li>
                        <li><a href="#">Aenean nonummy hendrerit</a></li>
                        <li><a href="#">Phasellus porta</a></li>
                        <li><a href="#">Fusce suscipit varius</a></li>
                    </ul>
                </article>
                 <section class="col-lg-6 col-md-6 col-sm-6 servBox">
                    <h2>our services<em></em></h2>
                    <div class="row">
                        <article class="col-lg-6 col-md-6 col-sm-6">
                            <div class="thumb-pad2">
                                <div class="thumbnail">
                                    <figure><img src="/img/page1_pic1.jpg" alt=""></figure>
                                    <div class="caption">
                                        <h4>Mauris fermentum</h4>
                                        <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
                                        <a href="#" class="btn-default btn1">more info</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-6 col-md-6 col-sm-6">
                            <div class="thumb-pad2">
                                <div class="thumbnail">
                                    <figure><img src="/img/page1_pic2.jpg" alt=""></figure>
                                    <div class="caption">
                                        <h4>Sed laoreet aliquam</h4>
                                        <p>Faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue</p>
                                        <a href="#" class="btn-default btn1">more info</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                 </section>
            </div>
        </div>
    </section>
    <section class="testimBox">
        <div class="container">
            <div class="row">
                <article class="col-lg-6 col-md-6 col-sm-6 quoteBox">
                    <div>
                        <span class="fa fa-quote-left"></span>
                        <p class="txt">Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus.&rdquo;</p>
                        <p>Patrick Pool, IL</p>
                    </div>
                </article>
                <section class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <article class="col-lg-6 col-md-6 col-sm-6 infoBox">
                            <span class="fa fa-envelope"></span>
                            <p class="inf">9863 - 9867 Mill Road, <br>Cambridge, <br>MG09 99HT.</p>
                            <a href="#" class="btn-default btn1">view on the map</a>
                        </article>
                        <article class="col-lg-6 col-md-6 col-sm-6 infoBox">
                            <span class="fa fa-phone"></span>
                            <p class="inf margBot tel">(800) 2345-6788</p>
                            <p>Call Us Toll Free</p>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}
