
{% extends 'AndaimeFrontendBundle::layout.html.twig' %}

{% block title %}serviços{% endblock %}
{% block global %}indent{% endblock %}
{% block servico %}active{% endblock %}
{% block body %}
<div class="container">
        <div class="row">
            <article class="col-lg-12 col-md-12 col-sm-12">
                <h2 style="font-size: 20px;">Em desenvolvimento...</h2>
            </article>
        </div>
    </div>
{% endblock %}