
{% extends 'AndaimeFrontendBundle::layout.html.twig' %}

{% block title %}mapa{% endblock %}
{% block global %}indent{% endblock %}
{% block mapa %}active{% endblock %}
{% block body %}
 <div class="container">
        <div class="row">
            <article class="col-lg-12 col-md-12 col-sm-12">
                <h2>mapa<em></em></h2>
                <figure class="map">
                	<iframe width="800" height="700" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Andaimes+S%C3%A3o+Francisco+-+Estrada+Pacheco+de+Carvalho,+Maceio,+Niter%C3%B3i+-+Rio+de+Janeiro,+Brasil&amp;aq=0&amp;oq=andaimes+sao+franc&amp;sll=-22.91065,-43.117561&amp;sspn=0.178675,0.308647&amp;ie=UTF8&amp;hq=Andaimes+S%C3%A3o+Francisco+-&amp;hnear=Estrada+Pacheco+de+Carvalho+-+Maceio,+Rio+de+Janeiro,+Brasil&amp;t=m&amp;ll=-22.914978,-43.065698&amp;spn=0.007906,0.017145&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Andaimes+S%C3%A3o+Francisco+-+Estrada+Pacheco+de+Carvalho,+Maceio,+Niter%C3%B3i+-+Rio+de+Janeiro,+Brasil&amp;aq=0&amp;oq=andaimes+sao+franc&amp;sll=-22.91065,-43.117561&amp;sspn=0.178675,0.308647&amp;ie=UTF8&amp;hq=Andaimes+S%C3%A3o+Francisco+-&amp;hnear=Estrada+Pacheco+de+Carvalho+-+Maceio,+Rio+de+Janeiro,+Brasil&amp;t=m&amp;ll=-22.914978,-43.065698&amp;spn=0.007906,0.017145&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
                </figure>
            </article>
        </div>
    </div>
{% endblock %}