
{% extends 'AndaimeFrontendBundle::layout.html.twig' %}

{% block title %}serviços{% endblock %}
{% block global %}indent{% endblock %}
{% block servico %}active{% endblock %}
{% block body %}
<div class="container">
        <div class="row">
            <article class="col-lg-4 col-md-4 col-sm-6">
                <ul class="plus_list">
                    <li><span>Praesent vestibulum</span><em><a href="#"><span class="fa fa-plus"></span></a></em></li>
                    <li><span>Molestie lacus</span><em><a href="#"><span class="fa fa-plus"></span></a></em></li>
                    <li><span>Aenean nonummy hendrerit orci ac</span><em><a href="#"><span class="fa fa-plus"></span></a></em></li>
                    <li><span>Phasellus porta</span><em><a href="#"><span class="fa fa-plus"></span></a></em></li>
                    <li><span>Fusce suscipit varius</span><em><a href="#"><span class="fa fa-plus"></span></a></em></li>
                    <li><span>Cum sociis natoque penatibus et magnis</span><em><a href="#"><span class="fa fa-plus"></span></a></em></li>
                    <li><span>Parturient montes, nascetur</span><em><a href="#"><span class="fa fa-plus"></span></a></em></li>
                    <li><span>Fusce feugiat malesuada</span><em><a href="#"><span class="fa fa-plus"></span></a></em></li>
                    <li><span>Morbi nunc odio, gravida at cursus nec</span><em><a href="#"><span class="fa fa-plus"></span></a></em></li>
                </ul>
                <h2>Air Conditioners & Coolers<em></em></h2>
                <p class="margBot1">Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.Ut tellus dolor, dapibus eget, elementum.</p>
                <h2>Portable air conditioners<em></em></h2>
                <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.</p>
            </article>
            <article class="col-lg-8 col-md-8 col-sm-6 mainBox">
                <h2>main services<em></em></h2>
                <ul class="list3">
                    <li>
                        <figure><img src="/img/page4_pic1.jpg" alt=""></figure>
                        <div class="extra-wrap">
                            <h5>Pulvinar ac, lorem estibulum sed ante</h5>
                            <p>Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. </p>
                            <a href="#" class="btn-default btn1">more info</a>
                        </div>
                    </li>
                    <li>
                        <figure><img src="/img/page4_pic2.jpg" alt=""></figure>
                        <div class="extra-wrap">
                            <h5>Donec sagittis euismod purus</h5>
                            <p>Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. </p>
                            <a href="#" class="btn-default btn1">more info</a>
                        </div>
                    </li>
                    <li>
                        <figure><img src="/img/page4_pic3.jpg" alt=""></figure>
                        <div class="extra-wrap">
                            <h5>Vestibulum iaculis lacinia est</h5>
                            <p>Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. </p>
                            <a href="#" class="btn-default btn1">more info</a>
                        </div>
                    </li>
                    <li>
                        <figure><img src="/img/page4_pic4.jpg" alt=""></figure>
                        <div class="extra-wrap">
                            <h5>Donec in velit vel ipsum auctor pulvinar</h5>
                            <p>Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. </p>
                            <a href="#" class="btn-default btn1">more info</a>
                        </div>
                    </li>
                </ul>
            </article>
        </div>
    </div>
{% endblock %}